<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Adoptitt</title>
  <link rel="stylesheet" href="question7style.css">
  <script src="question7.js"></script>
</head>
<body>
  <header>
    <%- include('partials/header') %>
  </header>
  
  
  
  <main class="content" id="content-text">
    <h1>Contact Us</h1>
    <section>
      <h3>Customer Service</h3>
      <p>Phone Number: 123-456-7891</p>
      <p>Email Address: ammarranko@gmail.com</p>
    </section>
  </main>
  
  <footer>
    <%- include('partials/footer') %>
  </footer>
</body>
</html>
