<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Adoptitt</title>
  <link rel="stylesheet" href="question7style.css">
  <script src="question7.js"></script>



</head>

<body>
  <header>
    <%- include('partials/header') %>


  </header>
  <!--!https://www.w3schools.com/tags/tag_aside.asp#:~:text=Definition%20and%20Usage,a%20sidebar%20in%20a%20document.
-->
 
  <!--https://www.w3schools.com/tags/tag_main.asp#:~:text=The%20tag%20specifies%20the,site%20logos%2C%20and%20search%20forms.
-->
  <main class="content" id="content-text">

    <p>At <span style="font-weight: bold ;font-style: italic; color: blueviolet;"> ADOPTITT</span> our mission is simple
      yet profound: to unite deserving animals with their forever families and create countless moments of joy and
      companionship. Whether you're a fervent feline enthusiast or a devoted dog devotee, our platform is your gateway
      to finding the perfect furry friend to bring into your life.

      With a heartfelt commitment to animal welfare, AdoptItt connects you with a diverse array of cats and dogs eagerly
      awaiting their chance to become cherished members of your household. Our user-friendly interface makes the
      adoption process seamless and enjoyable, guiding you through every step with ease.

      Explore our extensive database of adorable pets, each with their own unique story and personality, just waiting to
      capture your heart. From playful kittens to loyal pups, there's a special companion for every home and lifestyle.

      Join our compassionate community of animal lovers today and embark on an unforgettable journey filled with
      unconditional love and unwavering loyalty. Together, let's make a difference, one adoption at a time.

      Welcome to AdoptItt - Where Every Paw Finds a Purpose! 🐾 </p>

  </main>
  <footer>
    <%- include('partials/footer') %>

  </footer>




</body>

</html>