<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Adoptitt</title>
  <link rel="stylesheet" href="question7style.css">
  <script src="question7.js"></script>



</head>
<!--https://medium.com/@reidwilliamson2/using-partial-templates-for-header-footer-2d7901f2c906
-->



<body>
  <header>
    <%- include('partials/header') %>
  </header>
  <!--!https://www.w3schools.com/tags/tag_aside.asp#:~:text=Definition%20and%20Usage,a%20sidebar%20in%20a%20document.
-->
  <aside class="menu">
    <nav>
      <ul class="menu">
        <li> <a href="/HomePage"> Home page</a></li>
        <li> <a href="/findAnimal"> Find a dog or a cat</a></li>
        <li><a href="/DogCare">Dog Care</a></li>
        <li><a href="/catCare"> Cat Care</a></li>
        <li><a href="/loginPage"> Have a pet to give away</a></li>
        <li><a href="/contactUs"> Contact us</a></li>
        <li><a href="/createAccount"> Create an account </a></li>
        <li><a href="/logOut">LogOut</a></li>

      </ul>
    </nav>
  </aside>
  <!--https://www.w3schools.com/tags/tag_main.asp#:~:text=The%20tag%20specifies%20the,site%20logos%2C%20and%20search%20forms.
-->
  <main class="content" id="content-text">

  </main>
  <footer>
    
    <%- include('partials/footer') %>
    
  </footer>

 




</body>

</html>