<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Adoptitt</title>
  <link rel="stylesheet" href="question7style.css">
  <script src="question7.js"></script>


</head>

<body>
  <header>
    <img src="logo.png" alt="Adoptitt logo">
    <div id="time"></div>

  </header>
  <!--!https://www.w3schools.com/tags/tag_aside.asp#:~:text=Definition%20and%20Usage,a%20sidebar%20in%20a%20document.
-->

  <!--https://www.w3schools.com/tags/tag_main.asp#:~:text=The%20tag%20specifies%20the,site%20logos%2C%20and%20search%20forms.
-->
  <main class="content" id="content-text">

    <p>Our website promises to protect your privacy. Your information will not be sold or misused. </p>


  </main>
 




</body>

</html>